<link rel="stylesheet" href="./adminPanel.css">

<div class="container">
    <h4 class="display-4" style="font-size: 2rem;">Having an Admin Dashboard that is clean, concice, and unique can make your application personal and effective.</h4>
    
    <p class="lead">Here are some styles we have done before, but we are always open to new and creative ideas.</p>
    
  <div class="row">
    <div class="col-md-4">
      <a class="datcard my-3" href="/AuburnAnswers/Admin/ManageCategory">
        <span style="color:white;" class="h4">Manage Categories</span>
        <p>Click here to go to the manage categories page.</p>
        <div class="go-corner">
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a class="datcard my-3" href="/AuburnAnswers/Admin/ManageCategory">
        <span style="color:white;" class="h4">See Reports</span>
        <p>View and download reports for all of your data.</p>
        <div class="go-corner">
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a class="datcard my-3" href="/AuburnAnswers/Admin/ManageCategory">
        <span style="color:white;" class="h4">Add Users</span>
        <p>Control who sees what.</p>
        <div class="go-corner">
        </div>
      </a>
    </div>
  </div>
    <div class="row">
      <div class="col-md-6 col-lg-4">
              <div class="wrimagecard wrimagecard-topimage">
                <div class="wrimagecard-topimage_header">
                  <i class="fas fa-users cardIcon"></i>
                </div>
                <div class="wrimagecard-topimage_title h-140">
                  <h2 class="h4 text-center">
                    Big Event Staff
                  </h2>
                  <p>Contains the list of staff members for The Big Event.</p>
                </div>
                <div class="card-action-bar">
                  <a class="float-lg-none link">View Staff</a>
                </div>
              </div>
            </div>
      <div class="col-md-6 col-lg-4">
              <div class="wrimagecard wrimagecard-topimage">
                <div class="wrimagecard-topimage_header">
                  <i class="fas fa-desktop cardIcon"></i>
                </div>
                <div class="wrimagecard-topimage_title h-140">
                  <h2 class="h4 text-center">
                    Dashboard
                  </h2>
                  <p>View Event status and communicate with team members.</p>
                </div>
                <div class="card-action-bar">
                  <a class="float-right link">View Dashboard</a>
                </div>
              </div>
            </div>
      <div class="col-md-6 col-lg-4">
              <div class="wrimagecard wrimagecard-topimage">
                <div class="wrimagecard-topimage_header">
                  <i class="far fa-envelope cardIcon"></i>
                </div>
                <div class="wrimagecard-topimage_title h-140">
                  <h2 class="h4 text-center">
                    Email Hub
                  </h2>
                  <p>Edit email templates sent by the application.</p>
                </div>
                <div class="card-action-bar">
                  <a class="float-right link">View Templates</a>
                </div>
              </div>
            </div>
    </div>
        <div style="margin-bottom: 3em;" class="app">
          <ul class="list" style="display: contents;">
                      <li style="display: block;">
                          <a href="/DevHome/DevPage/6" target="_blank" class="card tile text-dark">
                              <div class="card-header topper"></div>
                              <div style="display: flex;" class="card-body flex-column">
                                  <strong class="display-4 Title">JavaScript</strong>
                                  <span class="fab fa-js-square fa-3x mb-auto mt-auto"></span>
                              </div>
                          </a>
                      </li>
                      <li style="display: block;">
                          <a href="/DevHome/DevPage/7" target="_blank" class="card tile text-dark">
                              <div class="card-header topper"></div>
                              <div style="display: flex;" class="card-body flex-column">
                                  <strong class="display-4 Title">CSS</strong>
                                  <span class="fab fa-css3-alt fa-3x mb-auto mt-auto"></span>
                              </div>
                          </a>
                      </li>
                      <li style="display: block;">
                          <a href="/DevHome/DevPage/9" target="_blank" class="card tile text-dark">
                              <div class="card-header topper"></div>
                              <div style="display: flex;" class="card-body flex-column">
                                  <strong class="display-4 Title">SQL</strong>
                                  <span class="fas fa-database mb-auto fa-3x mt-auto"></span>
                              </div>
                          </a>
                      </li>
                      <li style="display: block;">
                          <a href="/DevHome/DevPage/11" target="_blank" class="card tile text-dark">
                              <div class="card-header topper"></div>
                              <div style="display: flex;" class="card-body flex-column">
                                  <strong class="display-4 Title">Teams</strong>
                                  <span class="fas fa-user-friends mb-auto fa-3x mt-auto"></span>
                              </div>
                          </a>
                      </li>
                      <li style="display: block;">
                          <a href="/DevHome/DevPage/12" target="_blank" class="card tile text-dark">
                              <div class="card-header topper"></div>
                              <div style="display: flex;" class="card-body flex-column">
                                  <strong class="display-4 Title">Jira</strong>
                                  <span class="fab fa-jira mb-auto fa-3x mt-auto"></span>
                              </div>
                          </a>
                      </li>
  
          </ul>
      </div>
    
  </div>