<!--style sheet-->
<link rel="stylesheet" href="components/footer/footer.css">
<!--html goes here-->
<footer class="main-footer">
    <div class="footer-container">
        <div class="footer-section">
            <p>Oficinas Nacionales:</p>
            <address>
                Carretera Libre Tijuana-Tecate,<br>
                Kilometro Numero 10,<br>
                Fracc. El Refugio,<br>
                Quintas Campestre,<br>
                22253 Redondo, B.C. <br>
                Contacto: 01 800 123 4567
            </address>
        </div>
        <div class="footer-section">
            <h4>LIGAS DE INTERÉS</h4>
            <ul>
                <li class="home-link">¿Quiénes somos?</li><br>
                <li class="home-link">Transparencia y Ética</li>
                <li class="home-link">Protección de Datos Personales</li>
                <li class="home-link">Portal de Transparencia de Fideicomisos</li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>ATENCIÓN AL CLIENTE:</h4>
            <p> 0322103835@ut-tijuana.edu.mx </p>
            <!-- <h4>EJECUTA LA APP USANDO EXPO</h4>
            <div class="app-links">
                <a href="#"><img src="assets/icons/qr.png" alt="Expo"></a>
            </div> -->
        </div>
    </div>
</footer>